.Side-bar
  .Side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top__btn top__btn--edit" do
          = icon('far', 'edit', class: "top__btn--icon")
        = link_to edit_user_path(current_user), class: "top__btn top__btn--cog" do
          = icon('fas', 'cog', class: "top__btn--icon")

  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Side-bar__group-list--example
        = link_to group_messages_path(group), class:"Side-bar__group-list--example--link" do
          .Side-bar__group-list--example--link--name
            = group.name
          .Side-bar__group-list--example--link--message
            = group.show_last_message